footer {
    width: 100vw;
    display: flex;
    flex-direction: column;;
}

#footer-top {
    height: var(--header-height);
    background-color: var(--background-color-primary);
    padding: var(--gap-size);
    display: flex;
    align-items: center;

    a {
        display: flex;
        align-items: center;
        gap: var(--gap-size);
    }

    img {
        width: 3.5rem;
        height: auto;
        border-radius: 0.3rem;
    }
}

#slogan {
    display: flex;
    flex-direction: column;
}

#instagram {
    margin-left: auto;
    display: flex;
    align-items: center;
    border-radius: var(--gap-size);
    padding: var(--gap-size);
    background-color: var(--background-btn-color);

    svg {
        width: 2rem;
        height: 2rem;
        fill: var(--text-color-secondary);
    }

    span {
        display: none;
    }
}

#footer-middle {
    background-color: --background-color-secondary;
}

#footer-bottom {
    background-color: var(--background-color-primary);
    padding: var(--gap-size);
    color: var(--text-color-primary);
    font-size: 0.8rem;
}

@media (min-width: 430px) {
    #instagram span {
        max-width: 10ch;
        display: block;
    }
}