:root {
    --background-color-primary: #f2c4a8;
    --background-color-secondary: #f7d9c4;
    --background-btn-color: #d98e73;
    --text-color-primary: #5c3d2e;

    --gap-size: 0.5rem;
    --header-height: 4.5rem;

    --animation-time: 0.3s ease;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    background-color: var(--background-color-secondary);
}

main {
    margin-top: var(--header-height);
}

a {
    text-decoration: none;
}

a, button {
    color: var(--text-color-primary);
    cursor: pointer;
}

button {
    border-radius: var(--gap-size);
    border-style: none;
    padding: 1rem;
    background-color: var(--background-btn-color);
}