:root {
    --background-color-primary: #f2c4a8;
    --background-color-secondary: #f7d9c4;
    --background-btn-color: #d98e73;
    --text-color-primary: #5c3d2e;

    --gap-size: 0.5rem;
    --header-height: 4.5rem;

    --animation-time: 0.3s ease;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    background-color: var(--background-color-secondary);
}

/* Header */

a {
    text-decoration: none;
}

a, button {
    color: var(--text-color-primary);
    cursor: pointer;
}

button {
    border-radius: var(--gap-size);
    border-style: none;
    padding: 1rem;
    background-color: var(--background-btn-color);
}

header {
    position: absolute;
    width: 100vw;
    height: var(--header-height);
    background-color: var(--background-color-primary);
    padding: var(--gap-size);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--gap-size);

    svg {
        width: 1.5rem;
        height: auto;
        cursor: pointer;
    }
}


#btn-book-service {
    margin-left: auto;
}

#enterprise-presentation {
    display: flex;
    align-items: center;
    gap: var(--gap-size);

    img {
        width: 3.5rem;
        height: auto;
        border-radius: 0.3rem;
    }
    
    span {
        font-weight: bold;
        white-space: nowrap;
        font-size: clamp(1rem, 2.5vw, 1.5rem);
    }
}

#menu-hamburg {
    top: var(--header-height);
    left: 0;
    width: 100vw;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding: var(--gap-size);
    opacity: 0;
    pointer-events: none;
    transition: all var(--animation-time);
    background-color: var(--background-color-primary);
    font-size: 1.2rem;

    &.active {
        opacity: 1;
        pointer-events: fill;
    }
}

@media (min-width: 768px) {
    header svg {
        display: none;
    }
    
    #menu-hamburg {
        opacity: 1;
        position: static;
        display: flex;
        padding: 0;
        flex-direction: row;
        background-color: none;
        gap: var(--gap-size);
    }
}